// Single Country 
@media screen and (min-width: 730px) {
    .country-data__container {
        @include flexItem(space-between, center, row);


        .flag__container {
            width: 50%;
        }

        .country-data {
            padding  : 0 50px;
            box-sizing: border-box;
            max-width: 50%;

            .single-data__container {
                @include flexItem(space-between, center, row);
            }
        }
    }
}
@media screen and (min-width: 1150px) {
    .country-data__container {

        .flag__container {
            max-width: 45%;
        }

        .country-data {

            .single-data__container {
            }
        }
    }
}
@media screen and (min-width: 1450px) {
    .country-data__container {

        .flag__container {
            max-width: 40%;
        }

        .country-data {

            .single-data__container {
            }
        }
    }
}

// Controls 

@media screen and (min-width: 890px) {
    .controls__container {
        @include flexItem(space-between, center, row);

        .search-field__container {
            min-width: 350px;
        }
    }
}

// Countries grid
@media screen and (min-width: 590px) {
    .country-grid {
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows       : 500px;
        gap                  : 25px;

        .country-card {
            .country-data {
                padding: 20px 25px 45px;

            }
        }
    }
}

@media screen and (min-width: 810px) {
    .country-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows       : 400px;
        gap                  : 25px;
    }
}

@media screen and (min-width: 950px) {
    .country-grid {
        grid-auto-rows: 500px;
    }
}

@media screen and (min-width: 1200px) {
    .country-grid {
        grid-auto-rows: 700px;

    }
}

@media screen and (min-width: 1500px) {
    .country-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows       : 500px;
        gap                  : 35px;

    }
}

@media screen and (min-width: 1750px) {
    .country-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows       : 600px;
        gap                  : 35px;

    }
}

@media screen and (min-width: 1850px) {
    .country-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows       : 600px;
        gap                  : 35px;

    }
}