// Flex item mixin
@mixin flexItem($horizontal, $vertical, $direction) {
    display                : flex;
    justify-content        : $horizontal;
    -webkit-justify-content: $horizontal;
    align-items            : $vertical;
    -webkit-align-items    : $vertical;
    flex-direction         : $direction;
}


@mixin rotateLetter($rad, $left, $right) {
    transform: rotate($rad);
    // width    : 21px;
    // height   : 24px;
    left     : $left;
    top      : $right;
}