// ------- COLORS -------

// Default theme
// page

$mainTextColor: #1f1f1f;
$mainBgColor: hsl(0, 0%, 98%);

// HEADER

$headerBoxShadow: rgba(0, 0, 0, 0.137);
$headerBg: white;

// COUNTRY LIST
$countryCardBoxShadow: rgba(175, 175, 175, 0.233);

// Dark Theme
// page

$mainTextColor: #1f1f1f;
$mainBgColor: hsl(0, 0%, 98%);

// HEADER

$headerBoxShadow: rgba(0, 0, 0, 0.137);
$headerBg: white;

// COUNTRY LIST
$countryCardBoxShadow: rgba(175, 175, 175, 0.233);
