.afterword {
    margin: 20px 0 20px;
    .afterword-wrapper {
        @include flexItem(flex-start, center, row);

        .footer-logo {
            background-color: $footerLogoBg;
            border-radius   : 50%;
            height          : 75px;
            width           : 75px;
            position: relative;
            overflow: hidden;

            img {
                height: auto;
                width: 105px;
                position: absolute;
                left: -45px;
                top: 20px;
            }
        }

        .thanks {
            width: 50%;
            margin-left: 20px;
            max-width: 200px;
            
            
            p:first-child {
                font-family: 'Montserrat', 'Courier New', Courier, monospace;
                font-size: 14px;
                margin-bottom: 10px;
            }

            .signature {
                font-family: 'Sacramento', 'Courier New', Courier, monospace;
                font-size: 22px;
                letter-spacing: 2px;
                text-align: right;
            }
        }
    }
}