.border-list {
    @include flexItem(flex-start, center, row);
    flex-wrap: wrap;
    gap: 18px;
    .border {
        cursor: pointer;
        padding: 10px 15px;
        border: 1px solid $mainTextColor;

        &:hover {
            color: $hoverColor;
        }
    }
}