.country-card {
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px 5px $countryCardBoxShadow;
    margin-bottom: 60px;
    cursor: pointer;
    height: 90%;

    .country-flag {
        height: 50%;

        img {
            height: 100%;
            width: 100%;
            background-position: center;
            object-fit: cover;

        }
    }

    .country-data {
        padding: 15px 25px 30px;
        padding: 2vh 3vh 4vh;
        box-sizing: border-box;
        height: 50%;
        @include flexItem(center, flex-start, column);

        h2 {
            margin-bottom: 15px;
            font-weight: 800;
            font-size: 22px;
        }

        p {
            margin-bottom: 5px;
            font-weight: 600;
            span {
                font-weight: normal;
            }
        }
    }
}