.next-page {
    width: 100%;
    text-align: center;
    transition: letter-spacing .5s ease-out;
    display: block;
    margin: 65px 0;

    .np-title {
        font-size: 42px;
        font-family: 'Visia Pro', Arial, sans-serif;
        font-weight: 600;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .np-subtitle {
        font-weight: 600;
    }

    &:hover {
        letter-spacing: 15px;
    }
}