.project {
    margin-bottom: 80px;
    width        : 100%;

    h2 {
        margin: 25px 0 5px;
    }

    figure {
        box-shadow      : -3px 9px 20px 2px $projectImage;
        margin          : 35px 0 10px;
        background-color: $projectFigureBg;


        .project-image {
            width              : 100%;
            background-position: 50% 20%;
            background-size    : cover;
            filter             : grayscale(100%);
        }

        &:hover {
            background-color: $projectFigureHover;

            .project-image {
                filter: grayscale(0%);
            }
        }

    }

    .project-stack {
        margin: 10px 0 0;
    }
}
