.search-field__container {
    @include flexItem(center, center, row);
    position: relative;
    box-sizing: border-box;
    padding: 5px 15px;
    max-width: 350px;
    background-color: $inputBg;
    box-shadow: 0 0 10px 0px $inputBoxShadow;
    color: $inputColor;

    input {
        margin-left: 5px;
        padding: 10px 15px;
        border: none;
        font-size: 14px;
        
        &::placeholder {
            letter-spacing: 1.2px;
            color: $inputPlaceholderColor;
        }
    }
}