header {
    @include flexItem(space-between, center, row);
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 25px;
    // border-bottom: 1px solid #000;
    box-shadow: 0 -8px 15px 8px rgba(0, 0, 0, 0.137);
    z-index: 100;
}