#country {
    margin-top: 22vh;
    padding: 30px 25px;
    .country-data__container {
        img {
            width: 100%;
        }
        
        .country-data {
            margin-top: 15px;

            h1 {
                font-size: 28px;
                font-weight: 800;
                line-height: 2.5;
            }
            p {
                margin-bottom: 10px;
                font-size: 15px;
                font-weight: 600;

                span {
                    font-weight: normal;
                }
            }

            .sub-data {
                margin: 20px 0;
            }
        }
    }
}