#country {
    margin-top: 90px;
    padding   : 30px 25px 40px;
    min-height: fit-content;
    
    .country-data__container {
        margin-top: 60px;

        .flag__container {
            height: 100%;

            img {
                width: 100%;
            }
        }

        .country-data {
            margin-top: 15px;

            h1 {
                font-size  : 28px;
                font-weight: 800;
                line-height: 2.5;
            }

            p {
                margin-bottom: 10px;
                font-size    : 15px;
                font-weight  : 600;

                span {
                    font-weight: normal;
                }
            }

            .sub-data {
                margin: 40px 0 30px;
            }

            h3 {
                font-size  : 18px;
                font-weight: 600;
                line-height: 3;
            }
        }
    }
}