@font-face {
    font-family: 'Nunito Sans';
    src: url('../../fonts/Nunito_Sans/nunitosans-light-webfont.woff2') format('woff2'),
         url('../../fonts/Nunito_Sans/nunitosans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../../fonts/Nunito_Sans/nunitosans-semibold-webfont.woff2') format('woff2'),
         url('../../fonts/Nunito_Sans/nunitosans-semibold-webfont.woff') format('woff');
    font-weight: 600;     
    font-style: normal;
}    

@font-face {
    font-family: 'Nunito Sans';
    src: url('../../fonts/Nunito_Sans/nunitosans-extrabold-webfont.woff2') format('woff2'),
         url('../../fonts/Nunito_Sans/nunitosans-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}