h1 {
    font-family: 'Visia Pro', Arial, serif;
    font-style : bold;
    font-size  : 42px;
}

h2 {
    font-family: 'Visia Pro', Arial, sans-serif;
    font-size  : 30px;
    font-weight: bold;
    line-height: 35px;
}

h3 {
    font-family: 'Visia Pro', Arial, sans-serif;
    font-size  : 24px;
    line-height: 32px;
}

h4 {
    font-family: 'Visia Pro', Arial, sans-serif;
    font-size  : 18px;
    font-weight: bold;
    line-height: 20px;
}

p {
    font-family: 'Visia Pro', Arial, sans-serif;
    font-size  : 16px;
    font-weight: 400;
    line-height: 20px;
}

span {
    font-family: 'Visia Pro', Arial, sans-serif;
}